<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="org.zz.springmvc.guide.xml"/>

    <!--支持多种视图解析器，比如 thymeleaf: org.thymeleaf.spring6.view.ThymeleafViewResolver-->
    <!--jsp: InternalResourceViewResolver -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:annotation-driven/>
    <!--长用来定义一些首页，错误页等，无复杂逻辑的controller-->
    <!--开启后会让注解全部失效，所以需要 mvc:annotation-driven 使得注解有效-->
    <mvc:view-controller path="/page" view-name="/page/index" />

    <!--开启default servlet, 请求先经过DispatcherServlet处理，404的会经过DefaultServlet处理-->
<!--    <mvc:default-servlet-handler/>-->

    <!--或者单独定义-->
    <mvc:resources mapping="/static/**" location="/static/" />

</beans>